<!DOCTYPE html>
<html>
<head>
  <title> Critter </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<% if flash[:notice] %>
 	 <div class="alert alert-danger"> 
	 	 <%= flash[:notice] %>
 	 </div>
<% end %>

<%= render 'layouts/header' %>

<div class="container"> 
	<%= yield %>
</div>

</body>
</html>
